aiohttp==3.10.10
einops==0.8.0
intel_extension_for_pytorch==2.5.0
kornia==0.7.3
numpy==2.2.1
opencv_python==4.10.0.84
Pillow==11.0.0
psutil==6.1.0
pygit2==1.16.0
pytest==8.3.4
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
safetensors==0.4.5
sageattention==1.0.6
scipy==1.14.1
sentencepiece==0.2.0
skimage==0.0
spandrel==0.4.0
spandrel_extra_arches==0.2.0
torch==2.6.0.dev20241029
torch_directml==0.2.5.dev240914
torch_npu==2.4.0
torchaudio==2.5.0.dev20241029
torchsde==0.2.6
torchvision==0.20.0.dev20241029
tqdm==4.66.6
transformers==4.46.1
typing_extensions==4.12.2
websocket_client==1.8.0
xformers==0.0.29.post1
